:host {
  display: block;
  line-height: 1.8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

@glg-red: #EF5550;
@dark-bg: #B3B3B3;
@light-bg: #EBEBEB;

content::content a {
  text-decoration: none;
  &:link{color: @glg-red;}
  &:visited{color: @glg-red;}
  &:hover{color: @glg-red; text-decoration: underline;}
  &:active{color: @glg-red;}
}

.question {
  font-size: 20pt;
  background-color: @dark-bg;
  padding: 1em;
  position: relative;
  margin-bottom: 10px;

  &:after{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid @dark-bg;
    position: absolute;
    right: 50px;
    bottom: -20px;
    content: "";
  }
}

.detail {
  padding: 1em;
}

.answer-input {
  background-color: @light-bg;
  padding: 1em;
}