:host {
  display: block;
  line-height: 1.8;
}

.question {
  font-size: 20px;
  background-color: #B3B3B3;
  padding: 1em;
  position: relative;
  margin-bottom: 10px;

  &:after{
    background-color: #B3B3B3;
    width: 50px;
    height: 30px;
    position: absolute;
    right: 50px;
    bottom: -30px;
    content: "";
  }
}

.detail {
  padding: 1em;
}

.buttons {
  background-color: #EBEBEB;
  padding: 1em;
}

.button {
  display: inline-block;
  margin-right: 20px;

  span {
    font-size: 20px;
  }
}

.checkbox {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #FFF;
  margin-right: 10px;

  &.selected{
    background-color: #B3B3B3;
  }
}