:host {
  display: block;
  font-size: 1.5em;
  text-align: center;
  color: #3F3F40;
}

.question {
  margin-bottom: 1em;
}

.button {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2em;
  box-shadow: 2px 2px 4px #3F3F40;
  width:3em;
  margin-right:2em;
}

.selected {
  box-shadow: inset 2px 2px 4px #3F3F40;
}